<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mixtape-me</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon.png" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <!--Top menu-->

  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/privacy">Privacy Policy</a>
    <a href="/contact" class="active">Contact</a>
    <a href="/about">About</a>
    <a href="/logout">Logout</a>
  </div>

  <div class="container" style="padding: 5%; font-size: medium;">
    <br>
    <br>
    <h1 style="font-size: 50px;">Contact</h1>
    <br>
    <br>

    <p>
      Flick me an email at feliu.ren@gmail.com or dm me on Instagram @applescan. 
      <br>I really appreciate any type of
      feedbacks and suggestions. 
      You can also check out my other projects at 
      <a target="_blank" href="https://www.feliciadigitaldesign.art/"><u>my website</u></a>.
    </p>

  </div>
  <a href="/"><img src="logo.png" alt="Logo" style="height: 50px;" /></a>
  <span> X </span>
  <!--Footer-->
  <img src="spotify.png" alt="Logo" style="height: 40px; margin-bottom: 10px" />
  <p style="color: #fff;">
    Created by
    <a target="_blank" href="https://www.feliciadigitaldesign.art/"><u>Felicia Fel</u></a>
    | © Mixtape-me 2023 🚀
  </p>

</body>

</html>