<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mixtape-me</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Mixtape-me aims to recreate the experience of walking through the doors of a 
  record store looking at CD covers and store walls with colourful albums, memorabilia, and photos, transferring the 
  same experience in a digital form and sharing your mixtape with your friends! Using Spotify’s technology, 
  it has never been easier to find out who you listen to the most all year round, last 6 months or even this year.
  It is a web application built by Felicia Fel." />
  <meta property="og:url" content="https://mixtape-me.herokuapp.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Mixtape-me" />
  <meta property="og:description" content="Mixtape-me aims to recreate the experience of walking through the doors of a 
  record store looking at CD covers and store walls with colourful albums, memorabilia, and photos, transferring the 
  same experience in a digital form and sharing your mixtape with your friends! Using Spotify’s technology, 
  it has never been easier to find out who you listen to the most all year round, last 6 months or even this year.
  It is a web application built by Felicia Fel." />
  <meta property="og:image"
    content="thumbnail.png" />
  <meta charset="UTF-8" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.png" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
  <script src="/script.js"></script>
</head>

<body>
  <!--Top menu-->

  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/privacy" class="active">Privacy Policy</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a href="/" onclick="spotifyLogout()">Logout</a>
  </div>

  <div class="container">
    <br>
    <br>
    <h1 class="about">Privacy Policy</h1>
    <br>
    <br>

    <p>
      Mixtape-me is an open source app that is developed individualy. By choosing to use
      this app, you agree to the use of your Spotify account username and data for your top 5 tracks.


      No data is used by the app is stored or collected in any way or form. Mixtape-me works by only by simply
      displaying your top 5 tracks from Spotify.
    </p>
    <br>
    <br>
  </div>
  <!--Footer-->
  <a href="/"><img src="logo.png" alt="Logo" style="height: 40px;" /></a>
  <p style="color: #fff; font-size: 15px;">
    mixtape-me.herokuapp.com | © 2023 🛸
    <br>
    Created by
    <a target="_blank" href="https://applescan.github.io/Portfolio-Website/"><u>Felicia Fel</u></a>
  </p>
  <img src="spotify.png" alt="Logo" style="height: 30px; margin-bottom: 10px" />
  <br>
  <br>

</body>

</html>