@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap");

html {
  max-height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
  text-align: center;
}

#login,
#loggedin {
  display: none;
  justify-content: center;
  align-items: center;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.flex-container {
  display: flex;
  color: white;
}

.container {
  color: white;
  text-align: center;
  flex-wrap: wrap;
  min-height: max-content;
}

.hidden {
  display: none;
}

#login {
  margin: auto;
  padding-top: 9.5em;
  max-height: fit-content;
}

#login > p {
  font-size: 20px;
  font-weight: 800;
  margin-top: 5%;
  margin-bottom: 5%;
}

.timeframes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#top-tracks-ShortTerm,
#top-tracks-MediumTerm,
#top-tracks-LongTerm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

.frame {
  width: 330px;
  height: 300px;
  margin: auto;
}

.frame:active,
.frame:hover {
  animation: wiggle 3s linear infinite;
}

.img1 {
  position: absolute;
  width: 330px;
  height: 300px;
  z-index: 2;
}

.img2 {
  position: relative;
  left: 30px;
  width: 300px;
  height: 300px;
  opacity: 100%;
  z-index: 1;
}

.spotify-button {
  background-color: #1ed760;
  color: white;
  border-radius: 500px;
  font-size: 14px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding: 10px 50px 10px 50px;
}

.login-spotify-button {
  background-color: #1ed760;
  color: white;
  border-radius: 500px;
  font-size: 14px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding: 10px 50px 10px 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spotify-button:hover,
.spotify-button:focus,
.spotify-button:active,
.login-spotify-button:hover,
.login-spotify-button:focus,
.login-spotify-button:active {
  text-decoration: none;
  color: #1ed760;
  background-color: #bdffd4;
}

input {
  display: none;
}

label {
  display: inline-block;
  padding: 3px;
  border: 1px solid #aaa;
}

label:hover {
  cursor: pointer;
}

.display {
  display: none;
}

[type="radio"]:checked ~ .display {
  display: block;
}

footer {
  position: fixed;
  right: 0;
  bottom: 10%;
  left: 0;
  text-align: center;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

a:hover,
a,
a:focus {
  color: white;
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #1ed760;
  color: white;
}

.topnav .icon {
  display: none;
}
